<p>{{author}}{{#if author}}.{{/if}} <i>{{title}}</i>. {{publisher}}{{#if publisher}}, {{/if}}{{year}}{{#if year}}.{{/if}}</p>
{{# if callNumber}}
    <p class="entry-subtext">{{callNumber}}</p>
{{/if}}