{{#if powerpoints}}
    <section class="event-section">
        <span class="fa fa-file-powerpoint-o" aria-hidden="true"></span>
        <h4 class="event-header">Powerpoints</h4>
        {{#each powerpoints}}
            <div class="event-entry">
                <p>{{title}}</p>
                <a href="{{url}}" target="_blank">{{url}}</a>
            </div>
        {{/each}}
    </section>
{{/if}}
{{#if books}}
    <section class="event-section">
        <span class="fa fa-book" aria-hidden="true"></span>
        <h4 class="event-header">Books</h4>
        {{#each books}}
            <div class="event-entry">
                <p>{{author}}{{#if author}},{{/if}} {{title}}{{#if year}}.{{/if}} {{year}}</p>
                {{# if callNumber}}
                    <p class="entry-subtext">{{callNumber}}</p>
                {{/if}}
            </div>
        {{/each}}
    </section>
{{/if}}
{{#if videos}}
    <section class="event-section">
        <span class="fa fa-play-circle-o" aria-hidden="true"></span>
        <h4 class="event-header">Videos</h4>
        {{#each videos}}
            <div class="event-entry">
                <p>{{title}}</p>
                <a href="{{url}}" target="_blank">{{url}}</a>
            </div>
        {{/each}}
    </section>
{{/if}}
{{#if articles}}
    <section class="event-section">
        <span class="fa fa-file-text-o" aria-hidden="true"></span>
        <h4 class="event-header">Articles</h4>
        {{#each articles}}
            <div class="event-entry">
                <p>{{author}}{{#if author}},{{/if}} {{title}}{{#if year}}.{{/if}} {{year}}</p>
            </div>
        {{/each}}
    </section>
{{/if}}