{{#if artworks}}
    <section class="event-section">
        <span class="fa fa-paint-brush" aria-hidden="true"></span>
        <h4 class="event-header">Artworks</h4>
        {{#each artworks}}
            <div class="event-entry" data-event-id="{{id}}">
                {{#if image}}
                    <img class="entry-image f--image-zoom" src="{{largeImage}}" alt="{{title}}"/>
                {{else}}
                    <span class="entry-image"></span>
                {{/if}}
                <span class="entry-title">
                    {{title}}
                </span>
            </div>
        {{/each}}
    </section>
{{/if}}
{{#if powerpoints}}
    <section class="event-section">
        <span class="fa fa-file-powerpoint-o" aria-hidden="true"></span>
        <h4 class="event-header">Powerpoints</h4>
        {{#each powerpoints}}
            <div class="event-entry">
                <p>
                    {{#if file}}
                        <a href="{{file}}" target="_blank">{{title}}</a>
                    {{else}}
                        <a href="{{url}}" target="_blank">{{title}}</a>
                    {{/if}}
                </p>
            </div>
        {{/each}}
    </section>
{{/if}}
{{#if books}}
    <section class="event-section">
        <span class="fa fa-book" aria-hidden="true"></span>
        <h4 class="event-header">Books</h4>
        {{#each books}}
            <div class="event-entry">
                {{#if url}}
                    <a href="{{url}}" target="_blank">
                        {{>book}}
                    </a>
                {{else}}
                    {{>book}}
                {{/if}}
            </div>
        {{/each}}
    </section>
{{/if}}
{{#if videos}}
    <section class="event-section">
        <span class="fa fa-play-circle-o" aria-hidden="true"></span>
        <h4 class="event-header">Music &amp; Film</h4>
        {{#each videos}}
            <div class="event-entry">
                <p>
                    <a href="{{url}}" target="_blank">{{title}}</a>
                </p>
            </div>
        {{/each}}
    </section>
{{/if}}
{{#if articles}}
    <section class="event-section">
        <span class="fa fa-file-text-o" aria-hidden="true"></span>
        <h4 class="event-header">Articles</h4>
        {{#each articles}}
            <div class="event-entry">
                <p>
                    {{#if pdf}}
                        <a href="{{pdf}}" target="_blank">
                            {{>article}}
                        </a>
                    {{else}}
                        {{>article}}
                    {{/if}}
                </p>
            </div>
        {{/each}}
    </section>
{{/if}}
{{#if websites}}
    <section class="event-section">
        <span class="fa fa-globe" aria-hidden="true"></span>
        <h4 class="event-header">Websites</h4>
        {{#each websites}}
            <div class="event-entry">
                <p>
                    <a href="{{url}}" target="_blank">{{title}}</a>
                </p>
            </div>
        {{/each}}
    </section>
{{/if}}