<h2 class="sidebar-header">Movements &amp; Artists</h2>
<h3 class="sidebar-header-title">{{title}}</h3>
{{#each events}}
    <div class="sidebar-entry" data-event-id="{{id}}">
        {{#if image}}
            <img class="entry-image" src="{{image}}" alt="{{title}}"/>
        {{else}}
            <span class="entry-image"></span>
        {{/if}}
        <span class="entry-title">
            {{title}}
        </span>
    </div>
{{/each}}